aiohttp
aiofiles
beautifulsoup4
jikanpy
google-reverse-search==0.1.3
motor
pyrogram
PyDictionary
pillow
psutil
pykeyboard
openai
rich
redis
requests
speedtest-cli
tgcrypto
telegraph 
uvloop
wikipedia
